#navTable {width: 800px;
		margin-left: 25%;
		margin-right: 25%;
			};

.navButton {width: 150px;
			margin: 25px;
			text-align: center;
			};
body {text-align: center;
	background-color: (98,128,227);
	
	};
